/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
		background-color:grey;
		
		}
		
.pageWrapper {/* Central block*/
	margin-left:auto;
	margin-right:auto;
	width:936px;
    border:0px solid black;
	}

/* Only for the books page - temp until they are read from the database - it is different because of the height */
/* Same #pageWrapper should be used and different pages of books should be created [1] [2] etc*/
#pageWrapperBooks {
    margin-left:auto;
	margin-right:auto;
	border:0px solid black;
	width:936px;
	background-color:white;
	}

/* This is only for the logo area. To highlight it, set different value for border width*/
#logo {
   width:100%;
   height:270px;
   margin-left:auto;
   margin-right:auto;
   border:0px solid black;  
	}
/* Location is the area between logo and Navigation */	
#location {
	background-color:#228899;
	width:100%;
    height:20px;
	border:0px solid red;
	}
/* Location text */  	
#location h1 {
	font-size: 20px;
	font-family:Verdana, Arial;
	font-weight:normal;
    float:right;
    margin:0px;
    padding:0px;
    margin-right:10px; /* distance between content right edge to end of location text */
	}
footer {
    height:50px;
    width:100%;
    background-color: #036;
}
footer p {
    text-indent:50px;
    padding-top:20px;
    font-size: 15px;
    color:white;
}
#datepicker {
    background-color: lightgrey;
    border:1px solid darkgrey;
}

nav {
    width:100%;
    margin:0px;
    padding:0px;
    text-align:center;
    border:0px solid red;
}
	
nav ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
    width:100%;
    background-color:#036;
    float:left;
	height:26px;
    border:0px solid red;
   }
   
nav ul li {
    margin:3px 0 0 0;
    padding-top:0px;
    float:left;
    display:inline;
    border-right:1px solid white; /*adds separators between menu items */
    	}
	
nav ul li a {
    text-decoration: none; /*simple links, no underline */
    display:inline-block;
    text-align:center;
    padding:5px 25px; /*area around menu text */
    margin-top:-3px;
    color:white;
    background-color: #036;
    
} 

nav ul li a:hover, nav ul li a.active
{
background-color: #289;
}

.content {
	width:100%;
	border:0px solid red;
	background-color:lightgrey;
    margin:0px; /* distance between navigation and content */
    text-indent:50px;
    clear: both;
}
.content h1 {
    padding-top:50px;
    font-size:32px;
    line-height:100%;
    border:0px, solid, red;
}
.content p {
    padding-top:30px;
    padding-left:25px;
    font-size:16px;
}

#contentBooks {
    width:100%;
    border:0px, solid, red;
    background-color:lightgrey;
    margin:0px; /* distance between navigation and content */
}
#contentBooks ul.gallery {
    padding-top:50px;
    padding-left:0px;
    list-style:none;
    font-size:0px;
    text-align:center;
}

#contentBooks ul.gallery li {
    display:inline-block;
    padding-left: 10px;
    background: white;
    border: 2px solid lightgrey;
    font-size: 16px;
    vertical-align:top;
}

#contentBooks ul.gallery li img {
    max-width: 100%;
    height: auto;
    margin-top:10px;
    margin-bottom:10px;
}
#contentBooks ul.gallery li h3 {
    margin: 0 0 10px;
}

#contentBooks ul.gallery.columns-2 li {
width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
#contentBooks ul.gallery.columns-3 li { /*used in books.html line 36 */
width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
#contentBooks ul.gallery.columns-4 li {
width: 22.5%; /* this value + 2.5 should = 25% */
}

#bookcontainer{ /*used in details.html. Everything below NAV */
    width:936px;
	height:1080px;
	background-color:lightgrey;
    border: 0px solid red;
    margin:0px;
    
}
#bookcontainer img { /*it controls the image in the details.html */
    padding: 10px 10px;
    float:left;
    border: 0px solid red;
}


#details {  /* Details - left of the image in details.html */
    width:auto;
    height:428px;
    margin-left:400px;
    margin-top:0px;
    padding:0px;
    border:0px solid red;   
}
#details h2 { /* book title in details.html */
    font-size:25px;
    margin:10px 0 10px 0;
    text-indent: 20px;
    float:left;
    border:0px solid red;
    
}
#details ul {
    list-style-type: none;
    float:left;
    line-height:20px;
    margin:0px;
    padding:0px;
    border:0px solid red;
}
#copiesNumber{
    clear:both;
    margin:20px 0;
    padding:20px 0;
}
#copiesNumber p{
    text-indent:50px;
}

.forms {
    clear:both;
    float:left;
    border:0px solid red;
    padding:0px;
    padding-left:10px;
    text-indent:0px;
}

.forms form { /*stil pt formular*/
    clear: both;
    width: 100%
}
.forms p#commentParagraph{
    font-size:20px;
}

.forms form div {
    clear: both;
    margin: 5px 0;
    float:left;
    width:100%;
    border:0px solid red;
}

.forms label {
    float: left;
    width: 90px;
    border:0px solid red;
}

.forms input.addname {
    padding:0px;
    margin:0px;
    background-color: lightgrey;
    border: 1px solid darkgrey;
}
.forms textarea.addcomment {
    padding:0px;
    resize:none;
    float:left;
    color:black;
    background-color: lightgrey;
    border: 1px solid darkgrey;
}
.forms label.commentlabel {
    float:left;
}
.forms input.addurl {
    clear:both;
    padding:0;
    margin:0;
    background-color:lightgrey;
    border: 1px solid darkgrey;
}
.forms input.submit {
    padding:2px 10px;
    float:left;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:1px solid darkgrey;
}
.forms input.submit#borrow {
    padding:2px 10px;
    margin-bottom:20px;
    float:left;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:1px solid darkgrey;
}
.forms input.submit#addComment {
    padding:2px 10px;
    margin-bottom:20px;
    float:left;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:1px solid darkgrey;
}
.forms input.submit#borrow:hover {
    border: 1px solid darkgrey;
    background:darkgrey;
}
.forms input.submit#addComment:hover {
    border: 1px solid darkgrey;
    background:darkgrey;
}
.forms input.submit:hover {
    border: 1px solid darkgrey;
    background:darkgrey;
}
.forms input#reset {
    padding:2px 10px;
    float:right;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:1px solid darkgrey;
}
.forms input#reset:hover {
    border: 1px solid darkgrey;
    background:darkgrey;
}

.comments { /*stil pt partea cu comentarii*/
    clear: both;
    margin-top:30px;
    margin:0px;
    padding:0px;
    width:100%;
    border:0px solid red;
}
.comments li {
    list-style-type: none;
}
.comments li h4 {
    margin:0px;
    margin-top:20px;
    padding:0px;
    font-family:Verdana, Arial;
    font-weight:normal;
}
.comments li div{
    border:0px solid green;
    margin-top:10px;
}
.comments li div p{
    text-indent: 50px;
    font-style: italic;
    border:0px solid red;
}
p#requestBook{
    margin-bottom:50px;
    border:0px solid red;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */