<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
	<meta charset="utf-8">
	<title>Autodesk Bucharest Library</title>
	<link rel="stylesheet" href="{% static "css/library.css" %}" />
</head>

<body>

	<div class="pageWrapper">

		<div id="logo">
			<img src="{% static "images/banner.jpg" %}" alt="Books banner" />
		</div>

		<div id="location">
			<h1>Add a book to our database</h1>
		</div>


		<nav>
			<ul>
				<li> <a href="/Library/index" class="home"> About </a></li>
				<li> <a href="/Library/books" class="books"> Books </a></li>
				<li> <a href="/Library/requestBook" class="requests"> Make a request </a></li>
				<li> <a href="#" class="add active"> Add a book </a></li>
				<li> <a href="/Library/contact" class="contact"> Contact </a></li>
			</ul>
		</nav>

		<div class="content clearfix">

			<p id="requestBook"> &nbsp; </p>

			<div class="forms">
				<form method="post" action="/Scripts/request.php">
					<div>
						<label>Title:</label>
						<input name="title" type="text" size="30" class="addname" required autofocus/>
					</div>

					<div>
						<label>Authors:</label>
						<input name="authors" type="text" size="30" class="addname" required/>
					</div>

					<div>
						<label>Language:</label>
						<input name="language" type="text" size="30" class="addname" required/>
					</div>

					<div>
						<label>Number of copies:</label>
						<input name="quantity" type="number" size="10" class="addname" min="1" max="99" required />
					</div>

					<div>
						<label> Details:</label>
						<textarea placeholder="Other details. New line for each." name="details" rows="15" cols="60" class="addcomment" required></textarea>
					</div>

					<div>
						<label>&nbsp;</label>
						<input type="submit" value="Add" class="submit" name="submit" />
						<input type="reset" value="Reset" id="reset" name="reset">
					</div>
				</form>
			</div>
		</div>



		<footer>
			<p> Autodesk Library Services 2016 </p>
		</footer>
	</div>
</body>

</html>