<!DOCTYPE html>

{% load staticfiles %}

<html>
    
    <head>
        <meta charset="utf-8">
        <title>Autodesk Bucharest Library</title>
        <link rel="stylesheet" href="{% static "css/library.css" %}" />
    </head>

    <body>

        <div id="pageWrapperBooks">

            <div id="logo">
            <img src="{% static "images/banner.jpg" %}" alt="Books banner" />
            </div>

            <div id="location">
                <h1>Browse &amp borrow a book</h1>
            </div>


            <nav>
                <ul>
                    <li> <a href="/Library/index" class="home" > About </a></li>
                    <li> <a href="#" class="books active" > Books </a></li>
                    <li> <a href="/Library/requestBook" class="requests" > Make a request </a></li>
                    <li> <a href="/Library/add" class="add" > Add a book </a></li>
                    <li> <a href="/Library/contact" class="contact" > Contact </a></li>
                </ul>
            </nav>


            <div id="contentBooks" class="clearfix">
                <ul class="gallery columns-3">
                    <li>
                        <a target="_blank" href="images/gallery/001_how_google_tests.jpg"><img src="{% static "images/gallery/001_how_google_tests_small.jpg" %}"/></a>
                        <h3><a href="/Library/details">Details</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/002_user_experience_remastered.jpg"><img src="images/gallery/002_user_experience_remastered_small.jpg"/></a>
                        <h3><a href="details.html">Details</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/003_the_mythical-man-month.jpg"><img src="images/gallery/003_the_mythical-man-month_small.jpg"/></a>
                        <h3><a href="details.html">Details</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/004_dont_make_me_think.jpg"><img src="images/gallery/004_dont_make_me_think_small.jpg"/></a>
                        <h3><a href="details.html">Details</a></h3>
                    </li>
                        <li>
                        <a target="_blank" href="images/gallery/005_100_things_every_designer.jpg"><img src="images/gallery/005_100_things_every_designer_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                        <li>
                        <a target="_blank" href="images/gallery/006_how_to_win_friends.jpg"><img src="images/gallery/006_how_to_win_friends_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/007_succeeding_with_agile_sw_development.jpg"><img src="images/gallery/007_succeeding_with_agile_sw_development_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/008_agile_estimating_and_plannning.jpg"><img src="images/gallery/008_agile_estimating_and_plannning_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/009_switch_how_to_change_things.jpg"><img src="images/gallery/009_switch_how_to_change_things_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/010_agile_product_management_with_scrum_creating.jpg"><img src="images/gallery/010_agile_product_management_with_scrum_creating_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/011_agile_retrospective_making_good_teams_great.jpg"><img src="images/gallery/011_agile_retrospective_making_good_teams_great_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/012_agile_software_dev_principles_patterns_practices.jpg"><img src="images/gallery/012_agile_software_dev_principles_patterns_practices_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/013_agile_testing_apractical_guide_fortesters.jpg"><img src="images/gallery/013_agile_testing_apractical_guide_fortesters_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/014_big_data_fordummies.jpg"><img src="images/gallery/014_big_data_fordummies_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/015_c_programming.jpg"><img src="images/gallery/015_c_programming_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/016_coaching_agile_teams_acompanion.jpg"><img src="images/gallery/016_coaching_agile_teams_acompanion_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/017_revit_architecture_2014.jpg"><img src="images/gallery/017_revit_architecture_2014_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/018_AISC_Detailing_Steel_Construction.jpg"><img src="images/gallery/018_AISC_Detailing_Steel_Construction_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/019_essential_skills_ofdynamic_speaking.jpg"><img src="images/gallery/019_essential_skills_ofdynamic_speaking_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/020_how_tomeasure_anything.jpg"><img src="images/gallery/020_how_tomeasure_anything_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/021_measuring_theuser_experience.jpg"><img src="images/gallery/021_measuring_theuser_experience_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/022_modern_cplusplus_design.jpg"><img src="images/gallery/022_modern_cplusplus_design_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/023_rocket_surger_made_easy.jpg"><img src="images/gallery/023_rocket_surger_made_easy_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/024_scaling_software_Agility.jpg"><img src="images/gallery/024_scaling_software_Agility_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/025_cplusplus_programming_lang.jpg"><img src="images/gallery/025_cplusplus_programming_lang_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/026_thedesign_of_everydaythings.jpg"><img src="images/gallery/026_thedesign_of_everydaythings_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/027_understandingyourusers.jpg"><img src="images/gallery/027_understandingyourusers_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/028_userinterface_designandeval.jpg"><img src="images/gallery/028_userinterface_designandeval_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/029_user_stories_applied.jpg"><img src="images/gallery/029_user_stories_applied_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/030_writingsecurecode.jpg"><img src="images/gallery/030_writingsecurecode_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/031_csharp_inanutshell.jpg"><img src="images/gallery/031_csharp_inanutshell_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/032_code_complete.jpg"><img src="images/gallery/032_code_complete_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                    <li>
                        <a target="_blank" href="images/gallery/033_design_patterns.jpg"><img src="images/gallery/033_design_patterns_small.jpg"/></a>
                        <h3><a href="details.html">Detail</a></h3>
                    </li>
                </ul>
            </div>


                

            <footer>
                <p> Autodesk Library Services 2016 </p>
            </footer>
        </div>

    </body>

</html>