<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
	<meta charset="utf-8">
	<title>Autodesk Bucharest Library</title>
	<link rel="stylesheet" href="{% static "css/library.css" %}" />

</head>

<body>

	<div class="pageWrapper">

		<div id="logo">
			<img src="{% static "images/banner.jpg" %}" alt="Books banner" />
		</div>

		<div id="location">
			<h1>Contact us</h1>
		</div>


		<nav>
			<ul>
				<li> <a href="/Library/index" class="home"> About </a></li>
				<li> <a href="/Library/books" class="books"> Books </a></li>
				<li> <a href="/Library/requestBook" class="requests"> Make a request </a></li>
				<li> <a href="/Library/add" class="add"> Add a book </a></li>
				<li> <a href="#" class="contact active"> Contact </a></li>
			</ul>
		</nav>


		<div class="content clearfix">

			<p id="requestBook"> In order to add a book on this website, please log-in. Thanks! </p>

			<div class="forms">
				<form method="post" action="/Scripts/request.php">
					<div>
						<label>Name:</label>
						<input placeholder="Your name here" name="addname" type="text" size="30" class="addname" required/>
					</div>
					<div>
						<label>Email:</label>
						<input placeholder="Your e-mail" name="addname" type="email" size="30" class="addname" required/>
					</div>

					<div>
						<label> Comment:</label>
						<textarea placeholder="Send me ideas of improvement,random stuff,hate mails, etc." name="sendmail" rows="15" cols="60" class="addcomment" required></textarea>
					</div>

					<div>
						<label>&nbsp;</label>
						<input type="submit" value="Send" class="submit" name="submit" required/>
					</div>
				</form>
			</div>
		</div>


		<footer>
			<p> Autodesk Library Services 2016 </p>
		</footer>
	</div>
</body>

</html>