<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <title>Autodesk Bucharest Library</title>
    <link rel="stylesheet" href="{% static "css/library.css" %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
</head>

<body>
    <!-- PageWrapper = central block of the page -->
    <div class="pageWrapper">

        <div id="logo">
            <img src="{% static "images/banner.jpg" %}" alt="Books banner" />
        </div>

        <div id="location">
            <h1>Contact us</h1>
        </div>

        <nav>
            <!-- Site Menu -->
            <ul>
                <li> <a href="/Library/index" class="home"> About </a></li>
                <li> <a href="/Library/books" class="books active"> Books </a></li>
                <li> <a href="/Library/requestBook" class="requests"> Make a request </a></li>
                <li> <a href="/Library/add" class="add"> Add a book </a></li>
                <li> <a href="/Library/contact" class="contact"> Contact </a></li>
            </ul>
        </nav>
        <!-- /Site menu -->


        <div id="bookcontainer">
            <img src="{% static "images/gallery/001_how_google_tests.jpg" %}" alt="How google tests software" />

            <div id="details">
                <h2>How google tests software</h2>
                <ul>
                    <!--Book Details-->
                    <li><span style="font-weight: bold;">Author(s):</span> James Whittaker | Jason Arbon | Jeff Carollo </li>
                    <li><span style="font-weight: bold;">Language:</span> English</li>
                    <li><span style="font-weight: bold;">Other Details:</span> Like number of pages, etc.</li>
                </ul>
            </div>


            <div id="copiesNumber">
                <p>Number of available copies <span style="font-weight: bold;"> 5 </span></p>
            </div>

            <div class="forms">
                <!--borrow book-->
                <form method="post" action="/Scripts/ceva">
                    <div>
                        <label>Borrow until:</label>
                        <input placeholder="Click here" name="enddate" id="datepicker"/>
                    </div>

                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Borrow" class="submit" id="borrow"/>
                    </div>

                </form>
            </div>



            <div class="forms">
                <!--formArea-->

                <p id="commentParagraph">Add a comment about this book:</p>

                <form method="post" action="/Scripts/comment.php">
                    <div>
                        <label>Name:</label>
                        <input placeholder="Your name here" name="addname" type="text" size="30" class="addname" required/>
                    </div>

                    <div>
                        <label> Comment:</label>
                        <textarea placeholder="Start typing your comment" name="addcomment" rows="15" cols="60" class="addcomment" required></textarea>
                    </div>

                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Submit comment" class="submit" name="submit" id="addComment" />
                    </div>
                </form>

                <ul class="comments">
                    <!--Comments section -->
                    <div>
                        <li>
                            <h4>Mihai wrote:</h4>
                            <div class="comment_text">
                                <p>Recomand capitlul 5 </p>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li>
                            <h4> Catalin wrote:</h4>
                            <div class="comment_text">
                                <p>Sample comment </p>
                            </div>
                        </li>
                    </div>

                </ul>
            </div>
            <!--formArea-->

        </div>






        <footer>
            <p> Autodesk Library Services 2016 </p>
        </footer>
    </div>
</body>

</html>