<!DOCTYPE html>

{% load staticfiles %}

<html>
 
	<head>
		<meta charset="utf-8">
		<title>Autodesk Bucharest Library</title>
		<link rel="stylesheet" href="{% static "css/library.css" %}" />
	</head>

	<body>

		<div class="pageWrapper">

		<div id="logo">
			<img src="{% static "images/banner.jpg" %}" alt="Books banner" />
		</div>

		<div id="location">
			<h1>About</h1>
		</div>


		<nav>
			<ul>
				<li> <a href="#" class="home active" > About </a></li>
				<li> <a href="/Library/books" class="books" > Books </a></li>
				<li> <a href="/Library/requestBook" class="requests" > Make a request </a></li>
				<li> <a href="/Library/add" class="add" > Add a book </a></li>
				<li> <a href="/Library/contact" class="contact" > Contact </a></li>
			</ul>
		</nav>

		<div class="content clearfix">
			{% if books %}
				<ul>
					{% for book in books %}
					<li>{{book.name}}</li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>THERE ARE NO BOOKS TO DISPLAY</strong>
			{% endif %}
				<h1>Lorem Ipsum</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu ligula leo. In quis diam id enim dapibus gravida eget ut ipsum. Mauris interdum sed sem quis luctus. Integer aliquam quis eros eget mattis. Quisque sed commodo metus. Curabitur at pharetra libero. Curabitur eu nisi rhoncus, imperdiet nulla vel, lobortis lacus. Donec in mi eu velit consectetur ornare. Aliquam non erat risus. Morbi sit amet diam mollis neque tempus venenatis. Quisque justo quam, posuere eu laoreet rhoncus, luctus quis diam. Praesent vulputate, justo eget pellentesque condimentum, est lacus lobortis massa, vel pulvinar tortor neque consequat sapien. Nam neque neque, cursus eget dapibus id, pretium pellentesque risus. Curabitur diam elit, vulputate in aliquam id, luctus molestie nibh. Fusce eget bibendum arcu. Donec iaculis felis orci.</p>
			<br />
			<p>Praesent vitae accumsan nunc, ac malesuada velit. Nam egestas iaculis orci. Aenean id eros molestie, efficitur felis vel, vehicula nulla. Vestibulum molestie ipsum ut orci congue pellentesque id id sapien. Proin eget euismod quam. Pellentesque quis felis nec erat vehicula pharetra ac eget ligula. Fusce malesuada ullamcorper elementum. Sed mollis nunc egestas eleifend pharetra. Aliquam erat volutpat. Nunc ullamcorper gravida lorem nec rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam aliquet gravida nisi, at iaculis purus vestibulum a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
			<br />
			<p>Donec quis finibus ex. Donec convallis velit dui, id semper sem iaculis quis. Morbi fringilla porttitor aliquam. Vivamus a semper leo. Etiam fermentum volutpat magna, at luctus ligula finibus a. Mauris congue, augue lobortis volutpat tincidunt, mauris nunc lacinia lorem, sed commodo turpis enim vitae velit. Fusce lobortis, sem quis placerat hendrerit, est lectus sagittis dui, a facilisis ligula nibh eget mauris. Maecenas metus velit, consectetur id malesuada eget, convallis id odio. Aenean pharetra mi nulla, non congue libero vestibulum non. Aenean ac placerat nibh, at vehicula dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec convallis dapibus odio ut dapibus. Phasellus fringilla arcu odio, sit amet tempus nibh rhoncus et. Etiam in elit eu nisl pellentesque blandit. Praesent malesuada, velit eu rhoncus suscipit, leo magna hendrerit ipsum, sed mollis justo quam nec diam.</p>
			<br />
			<p>Quisque fringilla leo vel turpis pretium, non sollicitudin massa faucibus. In et leo mi. Proin a tortor libero. Phasellus pharetra tempus lectus, vel luctus turpis consequat et. Cras feugiat ultrices sapien, a interdum metus iaculis nec. Etiam semper erat ut orci placerat accumsan. Curabitur eget porttitor turpis. Nunc tempor tortor mi, nec fermentum lacus varius vel. Cras eu eleifend odio. Ut pulvinar turpis eget tortor interdum varius.</p>
			<br />
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed maximus justo vel arcu dapibus, vitae pharetra nibh vestibulum. Aliquam pellentesque velit nec orci dictum, in auctor metus tincidunt. Quisque ut neque est. Aliquam ac maximus augue. Donec pulvinar egestas metus eget lobortis. Cras ante dolor, mollis at nisl hendrerit, egestas luctus justo. Vivamus posuere vulputate sem a hendrerit. Suspendisse nunc orci, molestie quis tempus commodo, interdum id elit. In consectetur at erat id gravida. Vestibulum eleifend eu augue non consectetur. Proin eget pretium velit. In ut tempus mauris, quis aliquam leo.</p>
		</div>

		<footer>
			<p> Autodesk Library Services 2016 </p>
		</footer>

		</div>
		
	</body>

</html>