<!DOCTYPE html>

{% load staticfiles %}

<html>
    
    <head>
        <meta charset="utf-8">
        <title>Autodesk Bucharest Library</title>
        <link rel="stylesheet" href="{% static "css/library.css" %}" />
    </head>

<body>

    <div class="pageWrapper">

            <div id="logo">
            <img src="{% static "images/banner.jpg" %}" alt="Books banner" />
            </div>

            <div id="location">
                <h1>Request a book</h1>
            </div>


            <nav>
                <ul>
                    <li> <a href="/Library/index" class="home" > About </a></li>
                    <li> <a href="/Library/books" class="books" > Books </a></li>
                    <li> <a href="#" class="requests active" > Make a request </a></li>
                    <li> <a href="/Library/add" class="add" > Add a book </a></li>
                    <li> <a href="/Library/contact" class="contact" > Contact </a></li>
                </ul>
            </nav>

        <div class="content clearfix">

            <p id="requestBook"> Do you need to a book? Fill-in the below form and you will be contacted soon. Thanks! </p>

                <div class="forms">
                    <form method="post" action= "/Scripts/request.php">
                        <div>
                        <label>Name:</label>
                        <input placeholder="Your name here" name="name" type="text" size="30" class="addname" required autofocus/>   
                        </div>

                        <div>
                        <label>Email:</label>
                        <input placeholder="Your e-mail here" name="email" type="email" size="30" class="addname" required/>   
                        </div>

                        <div>
                        <label>Website:</label>
                        <input placeholder="Paste the book's URL" name="url" type="url" size="60" class="addurl" required/> 
                        </div>

                        <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Submit request" class="submit" name="submit" />
                        </div>
                    </form>
                </div>
        </div>
    
                    <footer>
                        <p> Autodesk Library Services 2016 </p>
                    </footer>
    </div>
    
</body>

</html>