@media screen and (min-width: 320px) {
@font-face {
font-family: 'Artifakt Element Regular';
 src: url('Fonts/Artifakt WEB/Element WEB/EOT/Artifakt Element Regular.eot')
format('embedded-opentype'),
 url('Fonts/Artifakt WEB/Element WEB/WOFF/Artifakt Element Regular.woff') format('woff'),
 url('Fonts/Artifakt WEB/Element WEB/TTF/Artifakt Element Regular.ttf') format('truetype'),
 url('Fonts/Artifakt SVG/Element SVG/ArtifaktElementRegular.svg')
format('svg');
}
body{margin:0; font-size: 100%; font-family: 'Artifakt Element Regular', sans-serif; color: white; 
	background: linear-gradient(rgba(18,103,155,0.9), rgba(18,103,155,0.9)), url(BG_image-01.png) no-repeat; background-size: contain;}
h2 {font-variant: small-caps; font-size: 1.3em; letter-spacing: 0.05em;}
p{text-align: justify;}
.registeredmark {font-size: 50%;}
	
img.AdskLogo{vertical-align: middle; display: block; float: left; padding-top:1em; width:42px;}
h1{text-align: left; margin:0 auto;  font-size: 1.3em; width: auto; padding-top: 0.5em; text-shadow: .00em .05em .07em black; letter-spacing: 0.05em;}
	
#banner{background: linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)); margin-top: 3%; height: 4.5em; }
	
#WelcomeTextArea {display:block; padding-left: 1em; padding-top: 5em; padding-right: 1em;}

a.email{color:chartreuse;}
#User_Credentials{text-align: center; padding-top: 2em;}
a.login{display: block; padding:0.2em; font-size:1.3em; color:aliceblue; background-color: rgba(255,255,255,0.3); width:8em; margin-left: 25%; border-radius: 10em; }
	
	#IconLinks ul{width:80%; display: inline-block; padding-left:0; padding-top: 0.5em;}
	#IconLinks ul li{width: 25%; display:inline-block; text-align: center; padding-left: 3em;}
	#IconLinks ul li a{text-decoration: none; color: white; text-shadow: .00em .05em .07em black;}
	#IconLinks ul li h2:hover object { transform: scale(1.2) ; }
	#IconLinks ul li a object{-webkit-filter: drop-shadow(.00em .05em .07em black); filter: drop-shadow(.00em .05em .1em black); display:block; margin-left:auto; margin-right: auto;}
	
	#IconLinks ul li a object{-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";}
	
	footer{border-top: medium; border-color:rgba(149,149,149,0.5); border-top-style: solid; text-align: center; position: absolute; z-index: 150; padding: 0.5em; left:0; right:0; height:40px; }
	footer p{text-align: center;}

	object{width:64px; height: 64px; pointer-events: none;}
	
	a.svg{display:inline-block;}
	a.tooltips { position: relative; display: inline; width: auto;}
	a.tooltips span{visibility: hidden;}
	span{font-size: 40%; font-variant: normal; text-shadow: none; !important;}

a.tooltips span {
  position:absolute;
  left: 0%;	
  width:20em;
  color: rgba(45,45,45,1.00);
  background: rgba(255,255,255,0.5);
  height: auto;
  line-height: 1.5em;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  padding-top: 0.5em;	
  padding-bottom: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;	
  }
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 45%;	
  width: 0; height: 0;
  border-bottom: 1.5em solid rgba(255,255,255,0.5);
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
}
a:hover.tooltips span {transition-delay: 1s;
	opacity: 1;
  visibility: visible;
  top: 4em;
  left: 30%;
  margin-left: -8.5em;
  z-index: 999;
}
}

@media screen and (min-width : 545px ){
	#SiteTitle{padding-top: 1em;}
	img.AdskLogo{padding-top:0;}
	#User_Credentials{padding-left: 2em;}
	#WelcomeTextArea{padding-top: 6em;}
	#IconLinks ul{padding-left: 4em;}
}

@media screen and (min-width : 700px) {
	#User_Credentials{display: block; float: right; text-align: center; padding: 0; margin:0;}
    a.login{display: block; font-size:1em; color:aliceblue; background-color: rgba(255,255,255,0.3); padding-top: 1.7em; padding-right:0; margin:0; border-radius: 0; height: 2.6em; vertical-align: middle;}
	#SiteTitle{display: block; float:left; width:33em; }
	img.AdskLogo{padding-left:0;}
	#IconLinks ul{display: table; table-layout: fixed;}
	#IconLinks ul li{display: table-cell; }
	#WelcomeTextArea{width:95%;}
}

@media screen and (min-width : 1024px) {
	#WelcomeTextArea{float: right; padding-right: 1em; width:60%;}
	#IconLinks ul{padding-top: 5em;}
	
	}
